@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    /* Por defecto en escritorio (100% = 16px) */
    font-size: 100%; 
  }

  /* Solo en pantallas pequeñas (móviles) */
  @media (max-width: 640px) {
    html {
      font-size: 80%; 
    }
  }
}